.showPass{
    display: flex;
    align-items: center;
}
.showPass p{
    /* display: flex; */
    width: 90%;
    height: 30px;
    padding: 5px 5px;
    background-color: rgb(199, 198, 198);
}
.showPass i{
    font-size: 26px;
    margin-left: 10px;
}